{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>

	    <link href="{% static 'stagb/css/semantic.min.css' %}" rel="stylesheet" />
	    <link href="{% static 'stagb/css/main.css' %}" rel="stylesheet" />
  
    </head>
    
    <body>
<div class="ui equal width left aligned padded grid stackable">
	<div class="row">
	<div class="eight wide column">
            <button class="ui labeled icon button greenli" id="page_manage_add">
                <i class="right add square icon"></i>新增
            </button>
            <button class="ui labeled icon button yellowli">
                <i class="right write icon"></i>修改
            </button>
            <button class="ui labeled icon button redli">
                <i class="right remove icon"></i>删除
            </button>
	</div>
	<div class="eight wide column"></div>
	</div>
	<div class="row">
    <div class="sixteen wide column">
        <div class="ui segments">
            <div class="ui segment">
                <h5 class="ui header">
                    Datatable
                </h5>
            </div>
            <div class="ui segment">
                <table id="data_table" class="ui compact selectable striped celled table tablet stackable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>菜单名字</th>
                            <th>代码</th>
                            <th>链接</th>
                            <th>图标</th>
                            <th>排序</th>
                            <th>权限</th>
                        </tr>
                    </thead>

                    <tbody>
	                    {% for menu in menuItems %} 
	                        <tr>
	                            <td>{{ menu.name }}</td>
	                            <td>{{ menu.code }}</td>
	                            <td>{{ menu.url }}</td>
	                            <td>{{ menu.icon }}</td>
	                            <td>{{ menu.sort_seq }}</td>
	                            <td>{{ menu.permission }}</td>
	                        </tr>
			            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<!-- 新增modal -->
<div class="ui long test modal" id="page_manage_modal">
    <div class="header">
        添加新的页面
    </div>
    <div class="content">
    	<form class="ui form" id="page_manage_modal_form">
    	{% csrf_token %}
        <div class="two fields">
            <div class="field">
                <label>页面名称</label>
                <input placeholder="页面名称" name="name" type="text">
            </div>
            <div class="field">
                <label>程序代号</label>
                <input placeholder="程序代号" name="code" type="text">
            </div>
        </div>
        <div class="field">
         	<label>页面链接地址</label>
            <input placeholder="页面链接地址" name="url" type="text">
        </div>
        <div class="two fields">
            <div class="field">
                <label>排序</label>
                <input placeholder="排序" name="sort_seq" type="text">
            </div>
            <div class="field">
                <label>图标</label>
                <div class="ui floating labeled icon dropdown button" id="dropdown_icon">
                	<input type="hidden" name="icon">
					  <i class="filter icon"></i>
					  <span class="text">选择图标</span>
					  <div class="menu">
					    <div class="item" data-value='attention icon'>
					      <i class="attention icon"></i>
					      Important
					    </div>
					    <div class="item" data-value='comment icon'>
					      <i class="comment icon"></i>
					      Announcement
					    </div>
					    <div class="item" data-value='conversation icon'>
					      <i class="conversation icon"></i>
					      Discussion
					    </div>
					  </div>
					</div>
            </div>
        </div>
        <div class="field">
            <label>权限</label>
			<div class="ui search selection dropdown" id="permision_json">
			  <input type="hidden" name="permission">
		      <div class="default text">选择权限</div>
		      <i class="dropdown icon"></i>
		    </div>
        </div>
        <div class="ui error message"></div>
		</form>
        <div class="actions">    
        <div class="ui ok button" id="submit">
        <i class="right checkmark icon"></i>
            	提交            
        </div>
        <div class="ui cancel button">
        <i class="right remove icon"></i>
            	取消
        </div>
  		</div>
	</div>
</div>

<script src="{% static 'stagb/plugins/datatable/jquery.dataTables.js' %}"></script>
<script src="{% static 'stagb/js/customjs/custom-datatable.js' %}"></script>
<script>
$(".ui.modal.long").modal({
	detachable:			true,
		autofocus:			false,
	observeChanges:		false,		
	allowMultiple:		false,
	keyboardShortcuts:	false,
		offset:				1000,
		context:			"body",
	closable:			false,
		transition:			"scale",
	duration:			400, 
	inverted: 			true,
    blurring: 			false
});
$('#dropdown_icon').dropdown();
$('#permision_json').dropdown({
    apiSettings: {
        // this url parses query server side and returns filtered results
        url: "{% url 'framework:query_json_permission' %}"
      },
    saveRemoteData:false,
    onChange:function(data){alert(data);},
});

$("#submit").click(function(){
	 $.ajax({    
         type:'post',        
         url:"{% url 'framework:admin_page_add' %}",    
         data:$("#page_manage_modal_form").serialize(),    
         cache:false,    
         dataType:'json',    
         success:function(data){   
             alert(data);
         }
	 });
});
$('#page_manage_add').on('click', function(){
	$("#page_manage_modal").modal("show");
});
</script>
</body> 
</html>
