{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>科技事务综合管理平台首页</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name=viewport content="width=device-width, initial-scale=1" /> 
    <link href="{% static 'stagb/css/semantic.min.css' %}" rel="stylesheet" />
    <link href="{% static 'stagb/plugins/ionicons/css/ionicons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'stagb/css/main.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'images/desk.jpg' %}" />


    
    
    
    
    <style type="text/css">
           body {
    background-color: #F0F0F0;
    width:100%;
  }

   
    </style>
</head>

<body>
     
    <div id="contextWrap">
        <!--粗菜单栏-->
        <div class="ui sidebar vertical left menu overlay  borderless visible sidemenu inverted  grey" style="-webkit-transition-duration: 0.1s; transition-duration: 0.1s;" data-color="grey">
            <div class="ui accordion inverted ">
                <div class="item">
                	<img src="{% static 'images/logo.png' %}"/>
                </div>     
                <div class="title item">
                    <a class="item labeled openbtn">
                      <i class="ion-navicon-round icon"></i> 
                      <span class="colhidden">隐藏菜单</span>
                    </a>
                    <a class="item labeled expandit" onclick="toggleFullScreen(document.body)">
                      <i class="ion-arrow-expand icon"></i>
                      <span class="colhidden">全屏显示</span>
                    </a>
                </div>
                
                <div class="ui fitted divider"></div>
                
                <div class="title item">
                  <i class="ion-speedometer titleIcon icon"></i>
                  <i class="dropdown icon"></i>1
                </div>
                <div class="content">
                    <a class="item" href="#">1.1</a>
                </div>


                <div class="title item">
                    <i class="ion-ios-lightbulb titleIcon icon"></i>
                    <i class="dropdown icon"></i>2
                </div>
                <div class="content">
                    <a class="item" href="#">2.1</a>
                    <a class="item" href="#">2.2</a>
                </div>
                
                
                <div class="title item">
                    <i class="edit titleIcon icon"></i>
                    <i class="dropdown icon"></i>3
                </div>
                <div class="content">
                    <a class="item" href="#">3.1</a>
                    <a class="item" href="#">3.2</a>
                    <a class="item" href="#">3.3</a> 
                </div>


                <div class="title item">
                    <i class="protect titleIcon icon"></i>
                    <i class="dropdown icon"></i>4
                </div>
                <div class="content">
                    <a class="item" href="#">4.1</a>
                    <a class="item" href="#">4.2</a>
                    <a class="item" href="#">4.3</a>
                    <a class="item" href="#">4.4 </a>
                </div>
                
                
                <div class="title item">
                    <i class="send titleIcon icon"></i>
                    <i class="dropdown icon"></i>5
                </div>
                <div class="content">
                    <a class="item" href="#">5.1</a>
                    <a class="item" href="#">5.2</a>
                    <a class="item" href="#">5.3</a>
                    <a class="item" href="#">5.4</a>
                    <a class="item" href="#">5.5</a>
                </div>
                
                
                <div class="title item">
                    <i class="book titleIcon icon"></i>
                    <i class="dropdown icon"></i>6
                </div>
                <div class="content">
                    <a class="item" href="#">6.1</a>
                    <a class="item" href="#">6.2</a>
                    <a class="item" href="#">6.3</a>
                    <a class="item" href="#">6.4</a>
                    <a class="item" href="#">6.5</a>
                    <a class="item" href="#">6.6 </a>
                 </div>

                <div class="title item">
                    <i class="photo titleIcon icon"></i>
                    <i class="dropdown icon"></i>7
                </div>
                <div class="content">
                    <a class="item" href="#">7.1</a>
                    <a class="item" href="#">7.2</a>
                    <a class="item" href="#">7.3</a>
                </div>


                <div class="title item">
                    <i class="lab titleIcon icon"></i>
                    <i class="dropdown icon"></i>8
                </div>
                <div class="content">
                    <a class="item" href="#">8.1</a>
                    <a class="item" href="#">8.2</a>
                    <a class="item" href="#">8.3</a>
                </div>
                
                
                <div class="title item">
                    <i class="power titleIcon icon"></i>
                    <i class="dropdown icon"></i>9
                </div>
                <div class="content">
                    <a class="item" href="#">9.1</a>
                    <a class="item" href="#">9.2</a>
                    <a class="item" href="#">9.3</a>
                </div>
            </div>

            <!-- 细菜单栏 -->
            <div class="ui dropdown item displaynone scrolling">
            <img src="{% static 'images/logo.mini.png' %}"/>
            </div>
     
            <div class="ui dropdown item displaynone scrolling">
                <a class="openbtn">
                  <i class=" ion-navicon-round icon"></i> 
                </a>
            </div>
            <div class="ui dropdown item displaynone scrolling">
                <a class="expandit" onclick="toggleFullScreen(document.body)">
                  <i class="ion-arrow-expand icon"></i>
                </a>
                <div class="ui divider"></div>
            </div>
            
      
            <div class="ui dropdown item displaynone scrolling">
                <span>1</span>
                <i class="ion-speedometer icon"></i>
                <div class="menu">
                    <div class="header">1</div>
                    <div class="ui divider"></div>
                    <a class="item" href="login">1.1</a>
                </div>
            </div>


            <div class="ui dropdown item displaynone scrolling">
                <span>2</span>
                <i class="ion-ios-lightbulb icon"></i>
                <div class="menu">
                    <div class="header">2</div>
                    <div class="ui divider"></div>
                    <a class="item" href="#">2.1</a>
                    <a class="item" href="#">2.2</a>
                </div>
            </div>
            
            
            <div class="ui dropdown item displaynone scrolling">
                <span>3</span>
                <i class="edit icon"></i>
                <div class="menu">
                    <div class="header">3</div>
                    <div class="ui divider"></div>
                    <a class="item" href="#">3.1</a>
                    <a class="item" href="#">3.2</a>
                    <a class="item" href="#">3.3</a>
                </div>
            </div>
            
            
            <div class="ui dropdown item displaynone scrolling">
                <span>4</span>
                <i class="protect icon"></i>
                <div class="menu">
                    <div class="header">4</div>
                    <div class="ui divider"></div>
                    <a class="item" href="#">4.1</a>
                    <a class="item" href="#">4.2</a>
                    <a class="item" href="#">4.3</a>
                    <a class="item" href="#">4.4</a>
                </div>
            </div>
            
            
            <div class="ui dropdown item displaynone scrolling">
                <span>5</span>
                <i class="send icon"></i>
                <div class="menu">
                    <div class="header">5</div>
                    <div class="ui divider"></div>
                    <a class="item" href="#">5.1</a>
                    <a class="item" href="#">5.2</a>
                    <a class="item" href="#">5.3</a>
                    <a class="item" href="#">5.4</a>
                    <a class="item" href="#">5.5</a>
                </div>
            </div>
            
            
            <div class="ui dropdown item displaynone scrolling">
                <span>6</span>
                <i class="book icon"></i>
                <div class="menu">
                    <div class="header">6</div>
                    <div class="ui divider"></div>
                    <a class="item" href="#">6.1</a>
                    <a class="item" href="#">6.2</a>
                    <a class="item" href="#">6.3</a>
                    <a class="item" href="#">6.4</a>
                    <a class="item" href="#">6.5</a>
                </div>
            </div>
            
            
            <div class="ui dropdown item displaynone scrolling">
                <span>7</span>
                <i class="photo icon"></i>
                <div class="menu">
                    <div class="header">7</div>
                    <div class="ui divider"></div>
                    <a class="item" href="#">7.1</a>
                    <a class="item" href="#">7.2</a>
                    <a class="item" href="#">7.3</a>
                </div>
            </div>
            
            
            <div class="ui dropdown item displaynone scrolling">
                <span>8</span>
                <i class="lab icon"></i>
                <div class="menu">
                    <div class="header">8</div>
                    <div class="ui divider"></div>
                    <a class="item" href="#">8.1</a>
                    <a class="item" href="#">8.2</a>
                    <a class="item" href="#">8.3</a>
                </div>
            </div>
            
            <div class="ui dropdown item displaynone scrolling">
                <span>9</span>
                <i class="power icon"></i>
                <div class="menu">
                    <div class="header">9</div>
                    <div class="ui divider"></div>
                    <a class="item" href="#">9.1</a>
                    <a class="item" href="#">9.2</a>
                    <a class="item" href="#">9.3</a>
                </div>
            </div>
            
            <div class="ui divider"></div>
            <a class="item " href="#">
                <i class="ion-printer icon"></i> 
                <span class="colhidden">打印</span>
            </a>
            <a class="item" href="#">
                <i class="ion-code icon"></i> 
                <span class="colhidden">文件</span>
            </a>   
        </div>
    </div>
       
       
        <!--菜单栏-->
        <div class="pusher">
            <div class="navslide navwrap " >
                <div class="ui menu icon borderless grid" data-color="inverted white" >
                        <div class="right menu colhidden">
                    

                            <div class="ui dropdown item"><i class="large mail icon"></i><i class="dropdown icon"></i>
                                <div class="menu">
                                    <a class="item"><i class="announcement icon"></i>系统消息</a>
                                    <a class="item"><i class="comment icon"></i>未读信息</a>
                                    <a class="item"><i class="open envelope icon"></i>已读信息</a>
                                    <a class="item"><i class="lock icon"></i>私密信息</a>
                                    <div class="ui divider"></div>
                                    <a class="item"><i class="add to calendar icon"></i>新建任务</a>
                                    <a class="item"><i class="calendar outline icon"></i>待办任务</a>
                                    <a class="item"><i class="checked calendar icon"></i>已办任务</a>
                                </div>
                            </div>
           
                            <div class="ui dropdown item"><i class="large user icon"></i><i class="dropdown icon "></i>
                                <div class="menu">
                                    <a class="item" href="#"><i class="calendar icon"></i>日历</a>
                                    <a class="item" href="#"><i class="call icon"></i>通信录</a>
                                    <div class="ui divider"></div>
                                    <a class="item"><i class="setting icon"></i>设置</a>
                                    <div class="ui divider"></div>
                                    <a class="item"><i class="id card icon"></i>个人信息</a>
                                    <a class="item" href="#"><i class="sign out icon"></i>登出</a>
                               </div>
                           </div>
                       </div>
                  
               </div>
           </div>
           
       </div>
    <!--jquery--> 
    <script src=" {% static 'stagb/js/jquery-2.1.4.min.js' %} "></script>
    <!--jquery-->
    <!--semantic-->
    <script src=" {% static 'stagb/css/semantic.min.js' %}"></script>
    <!--semantic-->
    <script src="../static/stagb/plugins/cookie/js.cookie.js"></script>
   
    <script src=" {% static 'stagb/plugins/nicescrool/jquery.nicescroll.min.js' %} "></script>

    <script data-pace-options='{ "ajax": false }' src="{% static 'stagb/plugins/pacejs/pace.js' %}"></script>
    <script src="{% static 'stagb/js/main.js' %}"></script>
    
   
  
   
</body>

</html>
