{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>
	    <title>科技事务综合管理平台首页</title>
	    <meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name=viewport content="width=device-width, initial-scale=1" /> 
	    <link href="{% static 'stagb/css/semantic.min.css' %}" rel="stylesheet" />
	    <link href="{% static 'stagb/plugins/ionicons/css/ionicons.min.css' %}" rel="stylesheet" />
	    <link href="{% static 'stagb/css/main.css' %}" rel="stylesheet" />
	    <link rel="shortcut icon" href="{% static 'images/logo.mini.png' %}" />
	
	
	    
	    
	    
	    
	    <style type="text/css">
	           body {
	    			background-color: #F0F0F0;
	    			width:100%;
	  }
	
	   
	    </style>
	</head>

	<body>
		<div class="pace  pace-inactive">
			<div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
				<div class="pace-progress-inner"></div>
			</div>
			<div class="pace-activity"></div>
		</div>
	    <div id="contextWrap">
	        <!--左侧菜单栏-->
	        <div class="ui sidebar vertical left menu overlay borderless visible sidemenu inverted  grey" style="-webkit-transition-duration: 0.1s; transition-duration: 0.1s;" data-color="grey">
	            <a class="item logo" href="">
					<img src="{% static 'images/logo.png' %}" alt="stagblogo" />
					<img src="{% static 'images/logo.mini.png' %}" alt="stagblogo" class="displaynone" />
		        </a>	
	            <div class="ui fitted divider"></div>	
		         <!-- 粗单栏 -->
	            <div class="ui accordion inverted ">
		            {% for key,value in menu.items %} 
			            <div class="title item">
			                   <i class="{{ key.icon }} titleIcon icon"></i>
			                   <i class="dropdown icon"></i>{{ key.name }}
		               </div>		
		               <div class="content">
		               	   {% for key,value in value.items %} 
		                   <a class="item" href="{{ key.url }}">{{ key.name }}</a>
		                   {% endfor %}
		               </div>
		            {% endfor %}
	            </div>
	
	            <!-- 细菜单栏 -->
	            {% for key,value in menu.items %} 
	            <div class="ui dropdown item displaynone scrolling">
	                <span>{{ key.name }}</span>
	                <i class="{{ key.icon }} icon"></i>
	                <div class="menu">
	                    <div class="header">
	                    {{ key.name }}
	                    </div>
	                    <div class="ui divider"></div>
	                    {% for key,value in value.items %} 
                   		<a class="item" href="{{ key.url }}">
                   		{{ key.name }}
                   		</a>
	                    {% endfor %}
	                </div>
	            </div>
	            {% endfor %}
	    	</div>
		    <a class="item hiddenCollapse displaynone"></a>
		       
		    <div class="pusher">
	            <!--navbar  上部导航栏-->
	            <div class="navslide navwrap">
					<div class="ui menu icon borderless grid inverted grey" data-color="inverted white" >
						<a class="item labeled openbtn">
			              <i class="ion-navicon-round icon"></i> <span class="colhidden">隐藏菜单</span>
			            </a>
			            <a class="item labeled expandit" onclick="toggleFullScreen(document.body)">
			              <i class="ion-arrow-expand icon"></i>
			              <span class="colhidden">全屏显示</span>
			            </a>	                     
                        <div class="right menu colhidden">
                            <div class="ui dropdown item"><i class="large mail icon"></i><i class="dropdown icon"></i>
                                <div class="menu">
                                    <a class="item"><i class="announcement icon"></i>系统消息</a>
                                    <a class="item"><i class="comment icon"></i>未读信息</a>
                                    <a class="item"><i class="open envelope icon"></i>已读信息</a>
                                    <a class="item"><i class="lock icon"></i>私密信息</a>
                                    <div class="ui divider"></div>
                                    <a class="item"><i class="add to calendar icon"></i>新建任务</a>
                                    <a class="item"><i class="calendar outline icon"></i>待办任务</a>
                                    <a class="item"><i class="checked calendar icon"></i>已办任务</a>
                                </div>
                            </div>           
                            <div class="ui dropdown item"><i class="large user icon"></i><i class="dropdown icon "></i>
                                <div class="menu">
                                    <a class="item" href="#"><i class="calendar icon"></i>日历</a>
                                    <a class="item" href="#"><i class="call icon"></i>通信录</a>
                                    <div class="ui divider"></div>
                                    <a class="item"><i class="setting icon"></i>设置</a>
                                    <div class="ui divider"></div>
                                    <a class="item"><i class="id card icon"></i>个人信息</a>
                                    <a class="item" href="#"><i class="sign out icon"></i>登出</a>
                               </div>
                           </div>
                       </div>
                    </div>
               	    <div class="ui secondary menu left inverted lightdarkli">
                        <a class="item" data-tab="eight">首页<i class="close link icon"></i></a>
                        <a class="item" data-tab="nine">修改页<i class="close link icon"></i></a>
                        <a class="item active" data-tab="ten">测试页面<i class="close link icon"></i></a>
                    </div>
	            </div>
            	<!--navbar-->

            	<!--maincontent 主页面-->
	            <div class="mainWrap navslide">
	                <div class="ui left aligned padded grid stackable">
						<div class="row">
		                    <div class="six wide tablet computer column">		                    
		                        <div class="ui segments">
		                        	<div class="ui segment">
	                                
	                                <div class="ui tab segment" data-tab="eight">
										111
	                                </div>
	                                <div class="ui tab segment" data-tab="nine">
	                                	2222
	                                </div>
	                                <div class="ui tab segment active" data-tab="ten">
										333
	                                </div>
                            		</div>
		                        </div>
		                    </div>
		                    <div class="ten wide tablet computer column">		                    
		                        <div class="ui segments">
		                        	<div class="ui segment">
	                                
	                                <div class="ui tab segment" data-tab="eight">
										111
	                                </div>
	                                <div class="ui tab segment" data-tab="nine">
	                                	2222
	                                </div>
	                                <div class="ui tab segment active" data-tab="ten">
										333
	                                </div>
                            		</div>
		                        </div>
		                    </div>
		                </div>	                	
	                </div>
	            </div>
	            <!--maincontent-->
        	</div>
		</div>
	    
	    <!--jquery--> 
	    <script src=" {% static 'stagb/js/jquery-2.1.4.min.js' %} "></script>
	    <!--jquery-->
	    <!--semantic-->
	    <script src=" {% static 'stagb/css/semantic.min.js' %}"></script>
	    <!--semantic-->
	    <script src="../static/stagb/plugins/cookie/js.cookie.js"></script>
	   
	    <script src=" {% static 'stagb/plugins/nicescrool/jquery.nicescroll.min.js' %} "></script>
	
	    <script data-pace-options='{ "ajax": false }' src="{% static 'stagb/plugins/pacejs/pace.js' %}"></script>
	    <script src="{% static 'stagb/js/main.js' %}"></script>
	    <script>
        //Tab page tab trigger functions
        $(".menu .item").tab();
	    </script>

	</body>

</html>
