{% load static %}
<!DOCTYPE html>
<html lang="cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<!-- CSS -->
    <link rel="stylesheet" href="{% static 'CSS-master/semantic.min.css' %}">

    <script src="{% static 'CSS-master/semantic.min.js' %}"></script>
   
    <style type="text/css">
        body {
          background:
        }
        body > .grid {
          height: 100%;
        }
        .image {
          margin-top: 100px;
        }
        .column {
          max-width: 330px;
        }
        
    </style>
  
</head>
<body>
<div class="ui very padded centered grid">
    <div class="column">
    1111
    </div>
    <div class="column">
    2222
    </div>

</body>
</html>