<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>H-ui.admin v3.1</title>
	    <style type="text/css">
		.Hui-article{position: absolute;top:34px;bottom:0;left:0; right:0;overflow:auto;z-index:1}
		.show_iframe{ position:absolute; top:0; right:0; left:0; bottom:0;}
		.show_iframe iframe {position: absolute;bottom: 0;height: 100%;width: 100%}
	    </style>
</head>
<body>

<div id="iframe_box" class="Hui-article">
		<div class="show_iframe" style="display: block;">
			<iframe scrolling="yes" frameborder="0" src="/framework/test/testPage/"></iframe>
	</div>
</div>

</body>
</html>