{% load static %}
<div class="ui very padded centered grid">
    <div class="row">
    safdafda
    </div>
    <div class="row">
    2222
    </div><div class="row">
    2222
    </div>
    <div class="row">
    2222
    </div><div class="row">
    2222
    </div>
    <div class="row">
    2222
    </div><div class="row">
    2222
    </div>
    <div class="row">
    2222
    </div><div class="row">
    2222
    </div>
    <div class="row">
    2222
    </div><div class="row">
    2222
    </div>
    <div class="row">
    2222
    </div><div class="row">
    2222
    </div>
    <div class="row">
    2222
    </div><div class="row">
    2222
    </div>
    <div class="row">
    2222
    </div><div class="row">
    2222
    </div>
    <div class="row">
    2222
    </div><div class="row">
    2222
    </div>
    <div class="row">
    2222
    </div><div class="row">
    2222
    </div>
    <div class="row">
    2222
    </div><div class="row">
    2222
    </div>
    <div class="row">
    2222
    </div><div class="row">
    2222
    </div>
    <div class="row">
    2222
    </div><div class="row">
    2222
    </div>
    <div class="row">
    2222
    </div><div class="row">
    2222
    </div>
    <div class="row">
    2222
    </div><div class="row">
    2222
    </div>
    <div class="row">
    2222
    </div><div class="row">
    2222
    </div>
    <div class="row">
    2222
    </div><div class="row">
    2222
    </div>
    <div class="row">
    2222
    </div><div class="row">
    2222
    </div>
    <div class="row">
    2222
    </div>
</div>