{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	    
	  <link href="{% static 'stagb/css/semantic.min.css' %}" rel="stylesheet" />
	  <link href="{% static 'stagb/plugins/ionicons/css/ionicons.min.css' %}" rel="stylesheet" />
	    
	  <link href="{% static 'stagb/css/main.css' %}" rel="stylesheet" />
	  <link href="{% static 'stagb/plugins/pacejs/pace.css' %}" rel="stylesheet" />
    <title>小站号配置</title>
	</head>

  <body>
    <div class="ui segment">
      <div class="ui equal width grid"> 
        <div class="row" style="margin:0px;padding:5px;">
          <div class="three wide column">
            <button class="ui labeled icon button greenli" id="manage_add">
              <i class="right add square icon"></i>新增
            </button>
            <button class="ui labeled icon button yellow" id="manage_operate" data-column="6" >
              <i class="right configure icon"></i>操作
            </button>
          </div>
          <div class=" right aligned column">
            <button class="ui labeled icon button pinkli2" id="manager_list" onclick='window.open("{% url 'stationconfig:manager' %}")'>
              <i class="right file text outline icon"></i>管理人列表
            </button>
            <div class="ui buttons blue">
              <div class="ui button">导出脚本</div>
              <div class="ui floating dropdown icon button">
                <i class="dropdown icon"></i>
                <div class="menu" data-filtered="filtered">
                  <a class="item" href="{% url 'stationconfig:export_movefile' %}" target="_blank">导出新建文件夹脚本</a>
                  <div class="divider"></div>
                  <div class="header">xbrl</div>
                  <a class="item" href="{% url 'stationconfig:export_getfile' %}" target="_blank">导出GetFile脚本</a>
                  <a class="item" href="{% url 'stationconfig:export_putfile' %}" target="_blank">导出PutFile脚本</a>
                  <a class="item" href="{% url 'stationconfig:export_movefile' %}" target="_blank">导出文件移动脚本</a>
                  <div class="divider"></div>
                  <div class="header">ta</div>
                  <a class="item" href="{% url 'stationconfig:export_movefile' %}" target="_blank">导出文件移动脚本</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <form class="ui form" id="search_modal_form" action="{% url 'stationconfig:search_fund' %}" method='post' enctype="multipart/form-data">
    	  {% csrf_token %} 
	      <div class="inline fields">
          <div class="field">
            <label for="search_manager" class="control-label">管理人：</label>
            <div class="ui search small selection dropdown" id="search_manager">
              <input type="hidden" name="search_manager" >
              <div class="default text">管理人</div>
              <i class="dropdown icon"></i>
            </div> 
          </div>
          <div class="field">
            <label for="search_fund" class="control-label">项目名称：</label>
            <div class="ui search small selection dropdown" id="search_fund">
              <input type="hidden" name="search_fund" >
              <div class="default text">项目名称</div>
              <i class="dropdown icon"></i>
            </div>
          </div>  
          <div class="field" id="advanced_field1">
            <label>数据类型： </label>
            <select class="ui small dropdown" name="search_fundtype">
              <option value="" data-filtered="filtered">数据类型</option>
              <option value="xbrl" data-filtered="filtered">xbrl</option>
              <option value="ta" data-filtered="filtered">ta</option>
            </select>
          </div>
          <div class="field" id="advanced_field2">
            <label>历史数据：</label>
            <select class="ui small dropdown" name="search_history">
              <option value="" data-filtered="filtered">是否历史数据</option>
              <option value=True data-filtered="filtered">是</option>
              <option value=False data-filtered="filtered">否</option>
            </select>
          </div>
              
          <div class="field">
            <button class="ui labeled icon blue basic right floated button" type="submit" id="fund_search" >
            <i class="right search icon"></i>搜索
            </button>
          </div> 
          <div class="field">
            <button class="ui labeled icon purple basic left floated button" type="button" id="advanced_find">
            <i class="right zoom icon"></i>高级
            </button>
          </div>
        </div>
      </form>
              
      <table id="data_table" class="ui compact selectable striped celled table tablet stackable display" cellspacing="0" width="100%" >
        <thead>
          <tr class="center aligned">
            <th>管理人</th>
            <th>管理人代码</th>
            <th>项目名称</th>
            <th>项目代码</th>
            <th>数据类型</th>
            <th>是否历史数据</th>
            <th>操作</th>
                            
            <th style="display:none">pathfrom</th>
            <th style="display:none">pathto_temp</th>
            <th style="display:none">move</th>
            <th style="display:none">pathto</th>
            <th style="display:none">md</th>
            <th style="display:none">mput</th>
            <th style="display:none">send</th>
            <th style="display:none">if_exist</th>
            <th style="display:none">move_file</th>
          </tr>
        </thead>
        <tbody>
	        {% for fund in funds %} 
	        <tr>
	          <td class="manager" id="{{ fund.manager.id }}">{{ fund.manager.name }}</td>
	          <td class="manager_code">{{ fund.manager.code }}</td>
	          <td class="fundname" id="{{ fund.id }}">{{ fund.fundname }}</td>
	          <td class="fundcode">{{ fund.code }}</td>
	          <td class="fundtype">{{　fund.type }}</td>
	          <td class="history">{{ fund.is_history }}</td>
	          <td>
              <button class="ui labeled icon button modify teal">
              <i class="right write icon"></i>修改
              </button>                      
              <button class="ui labeled icon button delete redli">
              <i class="right remove icon"></i>删除
              </button>
	          </td>
	          <td class="pathfrom" style="display:none">{{ fund.pathfrom }}</td>
            <td class="pathto_temp" style="display:none">{{ fund.pathto_temp }}</td>
            <td class="move" style="display:none">{{ fund.move }}</td>
            <td class="pathto" style="display:none">{{ fund.pathto }}</td>
            <td class="md" style="display:none">{{ fund.md }}</td>
            <td class="mput" style="display:none">{{ fund.mput }}</td>
            <td class="send" style="display:none">{{ fund.send }}</td>
            <td class="if_exist" style="display:none">{{ fund.if_exist }}</td>
            <td class="move_file" style="display:none">{{ fund.move_file }}</td>
	        </tr>
			    {% endfor %}
        </tbody>
      </table>
    </div>    

    <!-- 新增modal -->
    <div class="ui modal" id="add_modal">
      <div class="header">添加新基金</div>
      <div class="content">
        <form class="ui form" id="add_modal_form" action="{% url 'stationconfig:add_fund' %}" method='post' enctype="multipart/form-data" onsubmit="alert('添加成功')">
    	  {% csrf_token %}
          <h4>项目信息:</h4>
          <div class="inline fields" >
            <div class="field" id="add_exist1">
              <label for="add_manager_exist" class="control-label">管理人</label>
              <div class="ui selection dropdown" id="add_manager_exist">
                <input type="hidden" name="add_manager_exist" >
                <div class="default text">管理人</div>
                <i class="dropdown icon"></i>
              </div> 
            </div>
            <div class="field" id="add_exist2">
              <label>管理人代码</label>
              <input placeholder="管理人代码" name="add_manager_code_exist" type="text" id="add_manager_code_exist">
            </div>

            <div class="field" id="add_new1">
              <label>管理人</label>
              <input placeholder="管理人" name="add_manager_new" type="text" id="add_manager_new" onkeyup="copyManager()">
            </div>
            <div class="field" id="add_new2">
              <label>管理人代码</label>
              <input placeholder="管理人代码" name="add_manager_code_new" type="text" id="add_manager_code_new" onkeyup="copyManagerCode()">
            </div>

            <div class="field">
              <button class="ui teal basic left floated button" type="button" id="exist_or_add">新增管理人</button>
            </div>
          </div>

          <div class="four fields">
            <div class="field">
              <label>项目名称</label>
              <input placeholder="项目名称" name="add_fundname" type="text" required="required" id="add_fundname" onkeyup="copyFund()">
            </div>
            <div class="field">
              <label>项目代码</label>
              <input placeholder="项目代码" name="add_fundcode" type="text" id="add_fundcode" onkeyup="copyFundCode()">
            </div>
            <div class="field">
              <label for="add_fundtype" class="control-label">项目类型</label>
              <div class="ui selection dropdown" id="add_fundtype">
                <input type="hidden" name="add_fundtype" >
                <div class="default text">项目类型</div>
                <i class="dropdown icon"></i>
                <div class="menu" data-filtered="filtered">
                  <div class="item" data-value="xbrl" data-filtered="filtered" >xbrl</div>
                  <div class="item" data-value="ta" data-filtered="filtered">ta</div>
                </div>  
              </div> 
            </div>
            <div class="field">
              <label for="add_history" class="control-label">是否历史数据</label>
              <div class="ui selection dropdown" id="add_history">
                <input type="hidden" name="add_history" >
                <div class="default text">是否历史数据</div>
                <i class="dropdown icon"></i>
                <div class="menu" data-filtered="filtered">
                  <div class="item" data-value="True" data-filtered="filtered">True</div>
                  <div class="item" data-value="False" data-filtered="filtered">False</div>
                </div>  
              </div> 
            </div>
          </div>

          <div id="xbrl_data1_history">
            <h4>GetFile:</h4>
            <div class="four fields">
              <div class="field">
                <label>java -Dfile.encoding=GBK  -cp E:\\lgfilecomm-1.4.2.6.jar com.filecomm.fileClient mget 10.99.165.82 8686 10.99.165.82 %pathfrom%</label>
                <input placeholder="pathfrom" name="add_pathfrom" type="text" id="add_pathfrom">
              </div>
              <div class="field">
                <label><br><br><br><br>%pathto%</label>
                <input placeholder="pathto_temp" name="add_pathto_temp" type="text" id="add_pathto_temp">
              </div>
              <div class="field">
                <label><br><br><br><br>move %pathto%</label>
                <input placeholder="move" name="add_move" type="text" id="add_move">
              </div>
              <div class="field">
                <label><br><br><br><br>%pathto%</label>
                <input placeholder="pathto" name="add_pathto" type="text" id="add_pathto">
              </div>
            </div>

            <h4>PutFile:</h4>
            <div class="three fields">
              <div class="field">
                <label><br><br>md E:\XBRL\sign\</label>
                <input placeholder="md" name="add_md" type="text" id="add_md">
                <label>send</label>
              </div>
              <div class="field">
                <label>java -Dfile.encoding=GBK  -cp E:\\lgfilecomm-1.4.2.6.jar com.filecomm.fileClient mput 10.99.165.82 8686 10.99.165.82 E:/XBRL/sign/</label>
                <input placeholder="mput" name="add_mput" type="text" id="add_mput">
                <label>send</label>
              </div>
              <div class="field">
                <label><br><br>E:/send/</label>
                <input placeholder="send" name="add_send" type="text" id="add_send">
              </div>
            </div>

            <h4>文件移动:</h4>
            <div class="two fields">
              <div class="field">
                <label>IF EXIST E:\XBRL\sign\</label>
                <input placeholder="if_exist" name="add_if_exist" type="text" id="add_if_exist">
                <label>move</label>
              </div>
              <div class="field">
                <label>E:\XBRL\sign\</label>
                <input placeholder="move_file" name="add_move_file" type="text" id="add_move_file">
              </div>
            </div>
          </div>

          <div id="xbrl_data1_new">
            <h4>GetFile:</h4>
            <div class="inline fields">
              <div class="field">
                <label>%pathfrom%</label>
                <input placeholder="管理人代码" name="add_pathfrom_new1" type="text" id="add_pathfrom_new1">
              </div>
              <div class="field">
                <label>\\</label>
                <input placeholder="管理人" name="add_pathfrom_new2" type="text" id="add_pathfrom_new2">
                <label>\\XBRL\\%mydate%\\</label>
              </div>
            </div>
            <div class="inline fields">
              <div class="field">
                <label>%pathto%</label>
                <input placeholder="管理人" name="add_pathto_temp_new1" type="text" id="add_pathto_temp_new1">
              </div>
              <div class="field">
                <label>\</label>
                <input placeholder="项目名称" name="add_pathto_temp_new2" type="text" id="add_pathto_temp_new2">
                <label>\TEMP\</label>
              </div>
            </div>
            <div class="inline fields">
              <div class="field">
                <label>move %pathto%</label>
                <input placeholder="管理人" name="add_move_new1" type="text" id="add_move_new1">
              </div>
              <div class="field">
                <label>\</label>
                <input placeholder="项目名称" name="add_move_new2" type="text" id="add_move_new2">
              </div>
              <div class="field">
                <label>\TEMP\CN_</label>
                <input placeholder="项目代码" name="add_move_new3" type="text" id="add_move_new3">
                <label>_*zip</label>
              </div>
            </div>
            <div class="inline fields">
              <div class="field">
                <label>%pathto%</label>
                <input placeholder="管理人" name="add_pathto_new1" type="text" id="add_pathto_new1">
              </div>
              <div class="field">
                <label>\</label>
                <input placeholder="项目代码" name="add_pathto_new2" type="text" id="add_pathto_new2">
                <label>\</label>
              </div>
            </div>

            <h4>PutFile:</h4>
            <div class="inline fields">
              <div class="field">
                <label>md E:\XBRL\sign\</label>
                <input placeholder="管理人" name="add_md_new1" type="text" id="add_md_new1">
              </div>
              <div class="field">
                <label>\</label>
                <input placeholder="项目名称" name="add_md_new2" type="text" id="add_md_new2">
                <label>\send</label>
              </div>
            </div>
            <div class="inline fields">
              <div class="field">
                <label>mput E:/XBRL/sign/</label>
                <input placeholder="管理人" name="add_mput_new1" type="text" id="add_mput_new1">
              </div>
              <div class="field">
                <label>/</label>
                <input placeholder="项目名称" name="add_mput_new2" type="text" id="add_mput_new2">
                <label>/send</label>
              </div>
            </div>
            <div class="inline fields">
              <div class="field">
                <label>E:/send/</label>
                <input placeholder="管理人代码" name="add_send_new1" type="text" id="add_send_new1">
              </div>
              <div class="field">
                <label>/</label>
                <input placeholder="管理人" name="add_send_new2" type="text" id="add_send_new2">
                <label>/%mydate%/</label>
              </div>
            </div>

            <h4>文件移动:</h4>
            <div class="inline fields">
              <div class="field">
                <label>IF EXIST E:\XBRL\sign\</label>
                <input placeholder="管理人" name="add_if_exist_new1" type="text" id="add_if_exist_new1">
              </div>
              <div class="field">
                <label>\</label>
                <input placeholder="项目名称" name="add_if_exist_new2" type="text" id="add_if_exist_new2">
                <label>\CN*</label>
              </div>
            </div>
            <div class="inline fields">
              <div class="field">
                <label>E:\XBRL\sign\</label>
                <input placeholder="管理人" name="add_move_file_new1" type="text" id="add_move_file_new1">
              </div>
              <div class="field">
                <label>_累计\</label>
                <input placeholder="项目名称" name="add_move_file_new2" type="text" id="add_move_file_new2">
              </div>
            </div>

          </div>

          <div class="ui error message"></div>
          <div class="ui hidden divider"></div>
          <div class="actions" style="position:relative;left:75%;">
            <button class="ui labeled icon button redli" type="button" id="add_close" data-dismiss="add_modal">
            <i class="right close icon"></i>取消
            </button>
            <button class="ui labeled icon ok button blueli" type="submit" id="add_submit">
            <i class="right checkmark icon"></i>提交            
            </button>
          </div>
		    </form>
      </div>
    </div>

    <!-- 修改modal -->
    <div class="ui modal" id="modify_modal" >
      <div class="header">修改基金</div>
      <div class="content">
        <form class="ui form" id="modify_modal_form" action="{% url 'stationconfig:modify_fund' %}" method='post' enctype="multipart/form-data" onsubmit="alert('修改成功')">
          {% csrf_token %}
          <h4>项目信息:</h4>
          <div class="three fields">
            <div class="field">
              <label for="modify_manager" class="control-label">管理人</label>
              <div class="ui selection dropdown" id="modify_manager">
                <input type="hidden" name="modify_manager" >
                <div class="default text">管理人</div>
                <i class="dropdown icon"></i>
              </div> 
            </div>
            <div class="field">
              <label>管理人代码</label>
              <input placeholder="管理人代码" name="modify_manager_code" type="text" required="required" id="modify_manager_code">
            </div>
            <div class="field">
              <label for="modify_fund" class="control-label">项目名称</label>
                <input placeholder="项目名称" name="modify_fund" type="text" required="required" id="modify_fund">
            </div>
          </div>

          <div class="three fields">
            <div class="field">
              <label>项目代码</label>
              <input placeholder="项目代码" name="modify_fundcode" type="text"  id="modify_fundcode">
            </div>
            <div class="field">
              <label for="modify_fundtype" class="control-label">项目类型</label>
              <div class="ui selection dropdown" id="modify_fundtype">
                <input type="hidden" name="modify_fundtype" >
                <div class="default text">项目类型</div>
                <i class="dropdown icon"></i>
                <div class="menu" data-filtered="filtered">
                  <div class="item" data-value="xbrl" data-filtered="filtered" id='11'>xbrl</div>
                  <div class="item" data-value="ta" data-filtered="filtered">ta</div>
                </div>  
              </div> 
            </div>
            <div class="field">
              <label for="modify_history" class="control-label">是否历史数据</label>
              <div class="ui selection dropdown" id="modify_history">
                <input type="hidden" name="modify_history" >
                <div class="default text">是否历史数据</div>
                <i class="dropdown icon"></i>
                <div class="menu" data-filtered="filtered">
                  <div class="item" data-value="True" data-filtered="filtered">True</div>
                  <div class="item" data-value="False" data-filtered="filtered">False</div>
                </div>  
              </div> 
            </div>
            <div class="field" style="display:none">
              <label>id</label>
              <input class="ui selection" name='modify_fundid' id="modify_fundid" >
            </div>
          </div>
          
          <div id='xbrl_data2_history'>
          <h4>GetFile:</h4>
          <div class="four fields">
            <div class="field">
              <label>java -Dfile.encoding=GBK  -cp E:\\lgfilecomm-1.4.2.6.jar com.filecomm.fileClient mget 10.99.165.82 8686 10.99.165.82 %pathfrom%</label>
              <input placeholder="pathfrom" name="modify_pathfrom" type="text" required="required" id="modify_pathfrom">
            </div>
            <div class="field">
              <label><br><br><br><br>%pathto%</label>
              <input placeholder="pathto_temp" name="modify_pathto_temp" type="text" required="required" id="modify_pathto_temp">
            </div>
            <div class="field">
              <label><br><br><br><br>move %pathto%</label>
              <input placeholder="move" name="modify_move" type="text" required="required" id="modify_move">
            </div>
            <div class="field">
              <label><br><br><br><br>%pathto%</label>
              <input placeholder="pathto" name="modify_pathto" type="text" required="required" id="modify_pathto">
            </div>
          </div>

          <h4>PutFile:</h4>
          <div class="three fields">
            <div class="field">
              <label><br><br>md E:\XBRL\sign\</label>
              <input placeholder="md" name="modify_md" type="text" required="required" id="modify_md">
              <label>send</label>
            </div>
            <div class="field">
              <label>java -Dfile.encoding=GBK  -cp E:\\lgfilecomm-1.4.2.6.jar com.filecomm.fileClient mput 10.99.165.82 8686 10.99.165.82 E:/XBRL/sign/</label>
                    <input placeholder="mput" name="modify_mput" type="text" required="required" id="modify_mput">
                    <label>send</label>
            </div>
            <div class="field">
              <label><br><br>E:/send/</label>
              <input placeholder="send" name="modify_send" type="text" required="required" id="modify_send">
            </div>
          </div>

          <h4>文件移动:</h4>
          <div class="two fields">
            <div class="field">
              <label>IF EXIST E:\XBRL\sign\</label>
              <input placeholder="if_exist" name="modify_if_exist" type="text" required="required" id="modify_if_exist">
              <label>move</label>
            </div>
            <div class="field">
              <label>E:\XBRL\sign\</label>
              <input placeholder="move_file" name="modify_move_file" type="text" required="required" id="modify_move_file">
            </div>
          </div>
        </div>
          
          <div class="ui error message"></div>
          <div class="ui hidden divider"></div>
          <div class="actions" style="position:relative;left:75%;">
            <button class="ui labeled icon button redli" type="button" id="modify_close" data-dismiss="modify_modal">
            <i class="right close icon"></i>取消
            </button>
            <button class="ui labeled icon ok button blueli" type="submit" id="modify_submit">
            <i class="right checkmark icon"></i>提交            
            </button>
          </div>
		    </form>
      </div>
    </div>

    <!-- 删除modal -->
    <div class="ui modal" id="delete_modal">
      <div class="header">删除基金</div>
      <div class="content">
        <form class="ui form" id="delete_modal_form" action="{% url 'stationconfig:delete_fund' %}" method='post' enctype="multipart/form-data" onsubmit="alert('删除成功')">
          {% csrf_token %}
          <input style="display:none" id="delete_fundid" name="delete_fundid">
          <h4>确定删除</h4>
          <h4><span style="color:red" id="delete_manager"></span> （ 
              <span style="color:red" id="delete_manager_code"></span> ） 的项目
              <span style="color:red" id="delete_fundname"></span> （ 
              <span style="color:red" id="delete_fundtype"></span>） 基金吗？
          </h4>
          <div class="ui hidden divider"></div>
          <div class="actions">
            <button class="ui labeled icon right floated ok button blueli" type="submit" id="delete_submit">
            <i class="right checkmark icon"></i>确定            
            </button>
            <button class="ui labeled icon right floated button redli" type="button" id="delete_close" data-dismiss="delete_modal">
            <i class="right close icon"></i>取消
            </button>
          </div>
		    </form>
      </div>
    </div>

    <script src="{% static 'stagb/js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'stagb/css/semantic.min.js' %}"></script>
    <script src="{% static 'stagb/plugins/cookie/js.cookie.js' %}"></script>
	  <script src=" {% static 'stagb/plugins/nicescrool/jquery.nicescroll.min.js' %}"></script>
	
	  <script data-pace-options='{ "ajax": false }' src="{% static 'stagb/plugins/pacejs/pace.js' %}"></script>
    <script src="{% static 'stagb/plugins/datatable/jquery.dataTables.js' %}"></script>
     
    <script src="{% static 'stagb/js/main.js' %}"></script>
    <script src="{% static 'js/fund_table.js' %}"></script>
    <script src="{% static 'js/fund.js' %}"></script>
    <script>
    $.ajaxSetup({ data: {csrfmiddlewaretoken: '{{ csrf_token }}' },   });
    </script>
  </body> 
</html>